@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;

}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #737373;
}


@layer components {
    input[type=range] {
      @apply appearance-none bg-transparent w-full;
    }
  
    input[type=range]::-webkit-slider-runnable-track {
      @apply  bg-black/50 rounded-full h-[4px];
    }
  
    input[type=range]::-moz-range-track {
      @apply bg-black/50 rounded-full h-[4px];
    }
  
    input[type=range]::-ms-track {
      @apply bg-black/50 rounded-full h-[4px];
    }

    input[type=range]::-webkit-slider-thumb {
        @apply appearance-none h-5 w-5 rounded-xl bg-neutral-900 mt-[-8px]
    }
  
  }